<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width; initial-scale=1.0"; >
  <!-- <meta content="width=device-width; initial-scale=1.0"; > -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css">

    <title>UFO Sightings</title>
    <script src="https://d3js.org/d3.v5.min.js"></script>
</head>

<body>
  <div style="background-image:url(static/images/NY_Cool.jpg); background-attachment: fixed; background-size: cover">

    <nav class="navbar navbar-expand fixed-top">
      <div class="container-fluid">
      <a class="navbar-brand" href="index.html">UFO Sightings</a>

      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="index_all.html">
              <button id="get-all" type="submit" class="btn btn-primary btn-outline-success">UFO Sightings Level 1</button>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

    <div class="container">
      <div class="row">
      </div>
      <div class="panel m-top-75">
        <div class="panel-body">
          <div class="row">
            <div class='col-lg-2 col-6'>
              <select class="form-control" id="selectDate" name="select-date-from-list">
              </select>
            </div>
            <div class='col-lg-2 col-6'>
              <select class="form-control " id="selectCity" name="select-city-from-list">
              </select>
            </div>
            <div class='col-lg-2 col-6'>
              <select class="form-control" id="selectState" name="select-state-from-list">
              </select>
            </div>
            <div class='col-lg-2 col-6'>
              <select class="form-control" id="selectCountry" name="select-country-from-list">
              </select>          
            </div>
            <div class='col-lg-2 col-6'>
              <select class="form-control" id="selectShape" name="select-shape-from-list">
              </select>
            </div>
            <div class='col-lg-2 col-6'>
              <button type="submit" class="btn btn-primary btn-outline-success" id="selectAll">
                Select All
              </button>
            </div>
          </div>
        </div>
    </div>

    <div class="row">
      <div class="col-lg-12 col-12">
        <div class="panel m-top-75">
          <div class="panel-body">
          <h1>Sightings summary</h1>
              <ul class="summary"></ul>
          <br>
            <div class="table-responsive">
            <div id="table-area" class="">
              <table id="ufo-table" class="table">
                <thead>
                  <tr>
                    <th class="table-head">Date</th>
                    <th class="table-head">City</th>
                    <th class="table-head">State</th>
                    <th class="table-head">Country</th>
                    <th class="table-head">Shape</th>
                    <th class="table-head">Duration</th>
                    <th class="table-head" id="table-comment">Comments</th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
          </div>
          </div>
        </div>
        </div>
    </div>
  </div>
  </div>
</body>
<script src="static/js/data.js"></script>
<script src="static/js/multi.js"></script>
</html>
